{% extends "base_admin.html" %}
{% block content %}
    <div class="container color-c">

        <h2 align="center">Unidades académicas</h2>
        <br/>

        <form class="col s12" method="post">{% csrf_token %}
            <div class="row">
                <div class="input-field col s4">
                    <a class="waves-effect waves-light btn" href="{% url 'ua_create' %}"><i class="material-icons left">add</i>Nueva</a>
                </div>
                <div class="input-field col s2">
                    <input id="busca" name="busca" type="text" class="validate">
                    <label for="busca">Buscar</label>
                </div>
                <div class="input-field col s1">
                    <button class="btn waves-effect waves-light" type="submit">
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </form>
        <div style="border-bottom: 1px solid"></div>


        <table class="striped">
            <thead>
            <tr>
                <th width="10%">Id</th>
                <th width="10%">Departamento</th>
                <th width="10%">Nombre</th>
                <th width="10%">Descripcion</th>
                <th width="10%">(Editar)</th>
            </tr>
            </thead>

            <tbody>
            {% for unidad in unidades %}
                <tr>
                    <td width="10%">{{ unidad.ua_id }}</td>
                    <td width="10%">{{ unidad.dep_codigo }}</td>
                    <td width="10%">{{ unidad.ua_nombre }}</td>
                    <td width="10%"><textarea style="width: 250px;height: 100px" disabled>{{ unidad.ua_descripcion }}</textarea></td>
                    <td width="10%"><a class="btn-floating btn-large waves-effect waves-light blue" href="{% url 'editar_unidad' unidad.ua_id %}"><i class="material-icons">mode_edit</i></a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}